<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="UriYandex" value="https://bo-demo02.yamoney.ru:9094"/>
    <add key="CertificatePFXPath" value="C:\SDKGateways\GW_newtest\certificate.pfx"/>
    <add key="CertificatePassword" value="rfnfhcbc"/>
    <add key="AgentId" value="203598"/>
    <add key="tablePath" value="C:\SDKGateways\GW_newtest\points.xlsx"/>
  </appSettings>
</configuration>
